.mainPage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: "header"
                          "main"
                         "footer"
}